<a href="https://colab.research.google.com/github/Buzhynskaya-Daria/07.-Functions-More-/blob/main/Copy_of_%F0%9F%A7%AA_Lab_Ladder_Part_7_Functions_%26_More.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/219/original/CT_LOGO_NEW.jpg" width=60>
</div>

# **Python Ladder Challenges - Functions & More**

# Climb the Ladder!
Welcome to Part 7 and our last rung of our ladder! Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section X: Functions
In this section, every question gives example(s). You can (but don't need to) name your function accordingly. You _should_ test out the example to make sure your function works properly. If the example doesn't work, your answer is likely incorrect.

83) Write a function to compute the area of a triangle. You only need the base and height of a triangle to compute its area.

* _Example:_ `area_triangle(5, 4) == 10.0`

In [2]:
def area_triangle(base, height):
    return 0.5 * base * height

In [3]:
print(area_triangle(5, 4))

10.0

84) Import `pi` from `math` and write a function to compute the area of a circle. You only need the radius of a circle to compute its area.

* _Example:_ `area_circle(10) == 314.159...`

In [4]:
from math import pi

def area_circle(radius):
    return pi * radius ** 2

In [5]:
print(area_circle(10))

314.1592653589793

85) Write a function that takes in a number `max_num` and returns the sum of the numbers 1 through `max_num` (inclusive).
* _Example:_ `sum_n(5) == 1 + 2 + 3 + 4 + 5 == 15`

In [6]:
sum_n = lambda max_num: sum(range(1, max_num + 1))

In [7]:
print(sum_n(5))

15

86) Write a function that takes in a number `max_num` and returns the sum of the square of the numbers 1 through `max_num` (inclusive).
* `sum_squares(5) == 1 + 4 + 9 + 16 + 25 == 55`

In [9]:
sum_squares = lambda max_num: sum([i ** 2 for i in range(1, max_num + 1)])

In [10]:
print(sum_squares(5))

55

87) Write a function that takes a number (an amount in euros) and convert it to U.S. dollars. There are 1.1 U.S. dollars per euro.
* `to_dollar(10) == 11.0`

In [11]:
convert_to_dollar = lambda euros: euros * 1.1

In [12]:
print(convert_to_dollar(10))

11.0

88) Write a function that takes a list of numbers (amounts in euros), and returns them converted to dollars. Use your answer to the previous question in your answer to this question.
* _Example:_ `to_dollar_list([1, 10, 100]) == [1.1, 11.0, 110.0]`
* _Note:_ You may get some decimal weirdness here.

In [18]:
convert_to_dollar_list = lambda euros_list: [convert_to_dollar(i) for i in euros_list]

In [20]:
print(convert_to_dollar_list([1, 10, 100]))

[1.1, 11.0, 110.00000000000001]

89) Write a function that takes a number (a person's height) and returns "Tall enough" if they are at least 5 feet (60 inches) or "Too short" if they are below 5 feet.
* _Example:_ `is_tall(72) == 'Tall enough'`
* _Example:_ `is_tall(52) == 'Too short'`

In [21]:
height = lambda person_height: 'Tall enough' if person_height >= 60 else 'Too short'

In [22]:
print(height(72))
print(height(52))

Tall enough
Too short

90) Write a function that takes a list of numbers (peoples' heights) and returns a list of strings "Tall enough" or "Too short" as in the previous problem. Use your answer to the previous problem to help answer this problem.
* _Example:_ `is_tall_list([58, 70, 60]) == ['Too short', 'Tall enough', 'Tall enough']`

In [24]:
height = lambda person_height: 'Tall enough' if person_height >= 60 else 'Too short'
is_tall_list = lambda heights: [height(i) for i in heights]

In [25]:
print(is_tall_list([58, 70, 60]))

['Too short', 'Tall enough', 'Tall enough']

91) Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

In [27]:
grade = lambda numeric_grade: 'A' if numeric_grade >= 90 else 'B' if numeric_grade >= 80 else 'C' if numeric_grade >= 70 else 'D' if numeric_grade >= 60 else 'F'

In [28]:
print(grade(85))

B

92) Write _another_ function that takes a list of numeric grades and returns their letter grades. Use the function written above in your answer.

* _Example:_ `letter_grades([85, 62, 90]) == ['B', 'D', 'A']`

In [29]:
grade = lambda numeric_grade: 'A' if numeric_grade >= 90 else 'B' if numeric_grade >= 80 else 'C' if numeric_grade >= 70 else 'D' if numeric_grade >= 60 else 'F'

In [30]:
letter_grades = lambda numeric_grades: [grade(i) for i in numeric_grades]
print(letter_grades([85, 62, 90]))

['B', 'D', 'A']

93) Write a function that takes in a string and returns the number of vowels in that string. (No, y is not a vowel).
* _Example:_ `vowel_count('Coding Temple') == 4`

In [32]:
count = lambda string: sum([1 for i in string if i in 'aeiouAEIOU'])

In [33]:
print(count('Coding Temple'))

4

94) Write a function that takes in a string and returns that string with its consonants lowercased and vowels uppercased.

* _Example:_ `toggle_case('Coding Temple') == 'cOdIng tEmplE'`

In [35]:
def toggle_case(string):
    return ''.join([i.upper() if i in 'aeiouAEIOU' else i.lower() for i in string])

In [36]:
print(toggle_case('Coding Temple'))

cOdIng tEmplE

95) Write a function that takes in a string and returns that string with its vowels removed.
* _Example:_ `disemvowel('Python is my favorite language') == 'Pythn s my fvrt lngg'`

In [38]:
def disemvowel(string):
    return ''.join([i for i in string if i not in 'aeiouAEIOU'])

In [39]:
print(disemvowel('Python is my favorite language'))

Pythn s my fvrt lngg

96) Write a function that takes in a string and returns that string with its vowels removed _unless it's a one-letter word_, in which case leave the vowel intact. You should use your answer in the previous problem to answer this.
* _Example:_ `smart_disemvowel('I love Python programming') == 'I lv Pythn prgrmmng'`

In [43]:
def smart_disemvowel(string):
    return ' '.join([disemvowel(i) if len(i) > 1 else i for i in string.split()])

In [44]:
print(smart_disemvowel('I love Python programming'))

I lv Pythn prgrmmng

97) Write a function that takes in a string (likely multiple words long) and returns that string with the order of the words reversed.
* _Example:_ `word_reverser('Data analytics is cool') == 'cool is analytics Data'`

In [46]:
def word_reverser(string):
    return ' '.join(string.split()[::-1])

In [47]:
print(word_reverser('Data analytics is cool'))

cool is analytics Data

98) Write a function that takes in a string (likely multiple words long) and returns that string with each word reversed, but with the words in the same order.
* _Example:_ `letter_reverser('Data analytics is cool') == 'ataD scitylana si looc'`

In [49]:
def letter_reverser(input_string):
    words = input_string.split()
    reversed_words = [word[::-1] for word in words]
    return ' '.join(reversed_words)

In [50]:
print(letter_reverser('Data analytics is cool'))

ataD scitylana si looc

99) Write a function that converts a string to "leet speak". Leet speak is a made-up internet language which you replace characters with symbols that look like those characters. For example:

* _Example:_ `to_leet_speak('i am elite') == '! @M 31!73'`
* _Hint:_ Recall what `.get()` does when called on a dictionary? Will this help you with spaces or other non-letter characters?

_Note:_ This problem is borrowed from [this](https://www.codewars.com/kata/toleetspeak) wonderful Codewars challenge!

Below is the English-to-leet dictionary:

In [52]:
LEET_DICT = {'A' : '@', 'B' : '8', 'C' : '(', 'D' : 'D', 'E' : '3',
             'F' : 'F', 'G' : '6', 'H' : '#', 'I' : '!', 'J' : 'J',
             'K' : 'K', 'L' : '1', 'M' : 'M', 'N' : 'N', 'O' : '0',
             'P' : 'P', 'Q' : 'Q', 'R' : 'R', 'S' : '$', 'T' : '7',
             'U' : 'U', 'V' : 'V', 'W' : 'W', 'X' : 'X', 'Y' : 'Y',
             'Z' : '2'}

In [53]:
def to_leet_speak(string):
    return ''.join([LEET_DICT.get(i.upper(), i) for i in string])

In [54]:
print(to_leet_speak('i am elite'))

! @M 31!73

100) Write a function that takes an integer and returns the sum of its digits.
* _Example:_ `sum_digits(1234)` should return 10.
* _Hint:_ You may want to look into how to convert an integer into a string, then back into an integer.

In [56]:
def sum_digits(integer):
    return sum([int(i) for i in str(integer)])

In [57]:
print(sum_digits(1234))

10